[Unit]
Description=Palworld Dedicated Server Node Web App

[Service]
ExecStart=/srv/palworld/controlpanel.sh
Restart=on-failure

[Install]
WantedBy=default.target
