[Unit]
Description=Palworld Dedicated Server Backup Service

[Service]
ExecStart=/srv/palworld/palsrv/run.sh backup
Restart=on-failure

[Install]
WantedBy=default.target
