[Unit]
Description=Palworld Dedicated Server Monitor

[Service]
ExecStart=/srv/palworld/palsrv/run.sh monitor
Restart=on-failure

[Install]
WantedBy=default.target
