[Unit]
Description=Palworld Dedicated Server Node Web App

[Service]
ExecStart=/srv/palworld/run.sh controlpanel
Restart=on-failure

[Install]
WantedBy=default.target
