@font-face {
  font-family: 'Hack';
  src: url('./font/hack.ttf');
}

@keyframes depresso {
    0% { transform: rotate(0); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(0); }
}

@keyframes depresso2 {
    0% { transform: rotate(20); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(-20deg); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(20);}
}

html {
    background-image: url("./depresso.jpg");
    background-size: cover;
    background-color: black;
    background-repeat: space;
    background-attachment: fixed;
    background-position: center;
}

* {
    font-family: 'Hack';
    font-size 14px;
    margin: 0;
    padding: 0;
    color: rgb(200,200,255);
}

h1 {
    background-color: rgb(200,200,255);
    text-align: center;
    font-size: 26px;
    padding: 10px 0 8px 0;
    background-color: rgba(200,200,255,0.2);
}

ul {
    list-style-type: none;
    background-color: black);
    border-radius: 5px;
}

li {
    cursor: pointer;
    padding: 8px 0 6px 0;
    transition: background-color 0.3s;
    text-align: center;
}

li:hover {
    background-color: rgba(200,200,255,0.5);
    color: rgb(0, 0, 0);
}

.number {
    color: rgb(0, 128, 255);
}

div.content {
    width: 36vw;
    min-width: 400px;
    margin: 128px;
    background-color: rgba(0,0,0,0.8);
}

.depresso {
    animation: depresso 2s ease-in-out infinite;
}

.depresso2 {
    animation: depresso2 1s ease-in-out infinite;
}
